<li>
	{{name}}

	<button class="devourBurger" data-id="{{id}}" data-burgerDevoured="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}DELETE{{/if}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}" data-burgerDevoured="{{devour}}">DELETE!</button>

</li>
